@import "tailwindcss";

@layer base {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 18px;
  }

  p {
    font-size: 16px;
  }

  sm {
    font-size: 14px;
  }
}


@theme {
  --color-primary: rgb(0 216 123);
  --color-secondary: rgb(254, 255, 244);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: black;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}